<%- include('templates/encabezado')%>
<%- include('templates/menu')%>

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <form action="/login" method="POST">
            <div class="card">
                <div class="card-header">
                    <h1>Loggearse</h1>
                </div>
                <div class="card-body">                    
                    <input class="form-control mb-3" type="text" name="usuarioLogin" id="usuarioLogin" placeholder="Usuario">
                    <input class="form-control mb-3" type="text" name="passwordLogin" id="passwordLogin" placeholder="Password">
                </div>
                <div class="card-footer">
                    <button class="form-control btn btn-primary" type="submit">Entar al sistema</button>
                </div>
            </div>     
        </form>
    </div>
    <div class="col-2"></div>
</div>
   
<%- include('templates/pie')%>